@import url('http://fonts.cdnfonts.com/css/pokemon-solid');

.pokemon-name {
  margin-left: 12%;
  font-family: 'Pokemon Solid', sans-serif;
  font-size: 80px;
}

.images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.status-abilities-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.status,
.abilities {
  width: 260px;
  margin-bottom: 30px;
}

.feat-divider {
  margin-right: 3%;
  margin-left: 3%;
}

.moves {
  margin-top: 75px;
}

.version-group {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.version-name {
  margin: 10px;
  width: 250px;
}